 
 /* Tampilan Seluruh role pada Bagian Tabel */
 .table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%; /* Menyesuaikan lebar tabel ke 100% dari container */
  border: 1px solid #1c2024; /* Garis luar tabel */
}

/* Memberikan garis pada seluruh sel dalam tabel (th dan td) */
.table th, .table td {
  border: 1px solid #1c2024; /* Garis pada setiap sel */
  padding: 8px; /* Menambahkan sedikit ruang dalam sel */
  text-align: center; /* Align text ke tengah */
}

.table tbody td {
  text-align: center; /* Center secara horizontal */
  vertical-align: middle; /* Center secara vertikal */
}

.table tbody th {
  text-align: center;
  vertical-align: middle;
}

.table th {
  overflow: hidden; /* Menghindari teks meluber keluar kolom */
  text-overflow: ellipsis; /* Menambahkan "..." jika teks terlalu panjang */
  white-space: nowrap; /* Mencegah pembungkusan teks */
}

.table-container {
  max-height: 400px;
  overflow-y: auto;
}

.table-container::-webkit-scrollbar {
  display: none; /* Hides scrollbar for WebKit browsers (Chrome, Safari) */
}

  .sticky-header th {
    border-bottom: 1px solid #1c2024; /* Garis pada setiap sel */
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    text-align: center;
    z-index: 10; /* Ensures the header is above other content */
  }

  .sticky-footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 10px;
    text-align: center;
    z-index: 1000;
    border-top: 1px solid #ccc;
  }
  

/* Tampilan  untuk Bagian thead Untuk Seluruh Role */
  .th-no {
    background-color: red !important; /* Mengubah latar belakang menjadi merah */
    color: white !important; /* Mengubah teks menjadi putih */
    width: 50px;
  }

  .th-rep-rec {
    background-color: #ffff00 !important; /* Warna kuning */
    width: 150px;
  }

  .th-change-to {
    background-color: #ffff00 !important; /* Warna kuning */
    width: 150px;
  }
  .th-catatan-sda {
    width: 180px;
    background-color: wheat !important; /* Warna cream */
  }

  .th-validasi-sda {
      width: 170px;
    background-color: wheat !important; /* Warna cream */
  }

  .th-approved-not-ppq {
      width: 220px;
    background-color: wheat !important; /* Warna cream */
  }

  .th-incident {
    background-color: red !important;/* Mengubah latar belakang menjadi merah */
    color: white !important; /* Mengubah teks menjadi putih */
    width: 100px;
  }

  .th-customer {
    background-color: red !important;/* Mengubah latar belakang menjadi merah */
    color: white !important; /* Mengubah teks menjadi putih */
    width: 200px;
  }

  .th-layanan {
    background-color: red !important;/* Mengubah latar belakang menjadi merah */
    color: white !important; /* Mengubah teks menjadi putih */
    width: 100px;
  }

  .th-kategori {
    background-color: red !important;/* Mengubah latar belakang menjadi merah */
    color: white !important; /* Mengubah teks menjadi putih */
    width: 300px;
  }

  .th-regional {
    background-color: red !important;/* Mengubah latar belakang menjadi merah */
    color: white !important; /* Mengubah teks menjadi putih */
      width: 100px;
  }

  .th-witel {
    background-color: red !important;/* Mengubah latar belakang menjadi merah */
    color: white !important; /* Mengubah teks menjadi putih */
      width: 100px;
  }

  .th-jenis-permintaan {
    color: #343a40;
      background-color: #12aa12 !important; /* Warna mint */
      width: 180px;
      background-color: #ccccff; /* Warna lavender */
  }

  .th-reason {
    color: #343a40;
      background-color: #12aa12 !important; /* Warna mint */
    width: 220px;
  }

  .th-ttr-e2e-awal {
    color: #343a40;
    width: 180px;
    background-color: #12aa12 !important; /* Warna mint */
  }

  .th-ttr-after-reduksi {
    color: #343a40;
    width: 180px;
      background-color: #12aa12 !important; /* Warna mint */
  }

  .th-eviden-regional {
    color: #343a40;
    width: 250px;
    background-color: #12aa12 !important; /* Warna mint */
  }
  
  .th-status,
  .th-aksi  {
    background-color: #343a40 !important;
    color: white !important;
    width: 100px; /* Warna abu-abu lembut */
  }

  .th-reject-reason {
    background-color: #343a40 !important;
    color: white !important;
    width: 300px; /* Warna abu-abu lembut */
  }

/* button Pada Bagian role admin */
  .btn-approve, .btn-reject {
    width: 100px; /* Lebar tombol seragam */
  }

  .filter-download-container {
    display: flex;
    justify-content: flex-end; /* Menyelaraskan elemen di sebelah kiri */
    align-items: center; /* Menyelaraskan secara vertikal */
  }
  
  .filter-section {
    margin-right: 10px; /* Memberi sedikit jarak antara filter dan tombol download */
  }
  
  .filter-add-container {
    display: flex;
    justify-content: flex-end; /* Menyelaraskan semua elemen ke kiri */
    align-items: center; /* Menyelaraskan secara vertikal */
  }
  
  .filter-section {
    margin-right: 10px; /* Memberi jarak antara filter dan tombol tambah */
  }
  
  